---
layout: page
title: Espaço BCI
permalink: /espacoBCI/
description: Espaço dedicado a publicações sobre Biblioteconomia e Ciência da Informação.
background: '/img/bg-post.jpg'
---

<div>
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  {% if category_name != "Informe" %}

  <div id="collapseListGroupHeading{{ category_name | replace: ' ', '' }}">
    <h4>
      <a class="collapsed" data-toggle="collapse" href="#collapseListGroup{{ category_name | replace: ' ', '' }}" expanded="false" controls="collapseListGroup{{ category_name | replace: ' ', '' }}">
        {{ category_name }}
      </a>
    </h4>
  </div>
  <div id="collapseListGroup{{ category_name | replace: ' ', '' }}" class="collapse" labelledby="collapseListGroupHeading{{ category_name | replace: ' ', '' }}">
    <ul class="list-group">
    {% for post in site.categories[category_name] %}
      <li class="list-group-item"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endfor %}
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
