<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand searchHide" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right searchHide" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse searchHide" id="navbarResponsive">
      <ul class="navbar-nav ml-auto searchHide">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/informe" | relative_url }}">Informe-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/espacoBCI" | relative_url }}">Espaço BCI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contato</a>
        </li>
      </ul>
    </div>
    <div id="search-container" onfocusin="searchFocus()" onfocusout="searchLostFocus()">
      <input class="form-control mr-sm-2" type="search" id="search-input" placeholder="Buscar...">
      <ul id="results-container", style="background-color: aliceblue;"></ul>
    </div>
  </div>
</nav>
